.card-container{
  width: 100%;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 0 15px -5px;
  transition: 0.3s;
  border-radius: 10px;
  display: flex;
}

.card-container:hover{
  box-shadow: 0 0 15px -8px;
}

.card-container > *{
  margin: 5px;
}